/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap');

/* fonts and color variables */

:root {
    --main-color: #303030;
    --main-font: 'Roboto Slab', cursive;
    --secondary-font: 'Playfair', sans-serif;
}

/* basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style for pages */
body {
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--main-color);
    background-color: #e3e4e6;
}

h1 {
    font-family: var(--main-font);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #252525;
}

#logo {
    float: left;
    vertical-align: top;
    font-size: 230%;
    color:#000000;
    padding-left: 20px;
    padding-top: 3px;
}

/* nav style */

#nav-menu {
    font-size: 110%;
    letter-spacing: 3px;
    font-family: var(--secondary-font);
}

#nav-menu li {
    float: right;
    list-style: none;
    margin-right: 15px;
}

/* button for links */

.button {
    border: none;
    color: #e3e4e6;
    background-color: #32251b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}

/* scroll behaviour */
html {
    scroll-behavior: smooth;
    width: 100%;
}

/* hero image */
#hero-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-text {
    color: #e3e4e6;
    font-size: 130%;
    font-family: var(--main-font);
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(8, 5, 2, 0.527);
    bottom: 420px;
    left: 30px;
    position: absolute;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;
}

/* style for landing page */
#chocolate {
    height: 600px;
}

#left-div {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-div {
    padding-top: 30px;
    width: 33%;
    float: right;
}

hr {
    border-top: 2px solid #000000;
    width: 100%;
    margin: 5px 0;
}

.left-home-page-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-home-page-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome-text {
    text-align: center;
    text-decoration: underline #32251b;
    margin: 30px 0;
    font: 180%;
}

/* recipie */

#recipie {
    list-style: inherit;
    font-size: 100%;
    margin: 0 auto;
}

/* image square */

#center-square {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-radius: 30%;
    margin: 0 auto;
}

#square-bg {
    background: url(../images/Coffee-Day.jpg) no-repeat center center;
    height: 100%;
    border-radius: 20%;
}

/* footer */

footer {
    height: 250px;
    background-color: #32251b;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #e3e4e6;
}